<div class="side-tabs">
  <ul class="list-group">
      <li class="list-group-item">
        <a href="{% url 'home' %}">Home</a>
      </li>
      <li class="list-group-item">
      <a href="{% url 'food_categories' %}">See Our Menu</a>
      </li>
      <li class="list-group-item">
      <a href="{% url 'events' %}">Next Event</a>
      </li>
      <li class="list-group-item">
      <a href="{% url 'all_ingredients' %}">All Ingredients</a>
      </li>
      <li class="list-group-item">
      <a href="{% url 'feedback' %}">Talk to Us</a>
      </li>
  </ul>
</div>

