
.header {
    height:70px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    font-style: italic;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#sb-color{
    height: 20px;
    background-image: radial-gradient(white, rgb(214, 45, 15));
}
#grey {
    background-color: rgb(238, 227, 227)
}


.footer{
    color: blue;
    text-align: center;
}

.footer li:hover {
    color:green;
    font-weight: bold;
}

.wide {
    width : 90%;
    margin-bottom: 20px;
}

.side-tabs li:hover {
    background-color: rgb(198, 240, 126)
}

.tabs-with-search li:hover {
    background-color:  rgb(198, 240, 126)
}

